@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* Variables */
:root {
  --text: #ffffff;
  --background: #151718;
  --button: #22da6b;
  --shadow: #03030350 1px 1px 15px;
  --font-primary: "Montserrat", sans-serif;
  font-family: var(--font-primary);
}

/* Basic reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--text);
  background: var(--background);
}

button {
  margin: 0.5rem auto;
  width: 90%;
  height: 3rem;
  border: none;
  color: #000000;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  font-family: "Montserrat";
  background: var(--button);
  box-shadow: var(--shadow);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  padding: 2rem;
}

@media (min-width: 960px) {

  .button-container {
    width: 25%;
  }

}
