body {
  margin: 0;
  padding: 0;
  background-color: #1d2021;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  background: #ffb59c;
}

@media (min-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
